server:
  port: 10003
  forward-headers-strategy: framework

spring:
  config:
    import:
      - optional:cloud.yaml
      - optional:feign.yaml
      - optional:logging.yaml
      - optional:mybatis-plus.yaml
      - optional:spring-datasource.yaml
      - optional:spring-redis.yaml
  application:
    name: my
  profiles:
    active: local
  # 此变量可在 POM.xml 中配置 properties 属性读取
  datasource:
    url: jdbc:mysql://@env.api.mysql.host@:@env.api.mysql.port@/api?useUnicode=true&useSSL=false&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=Asia/Shanghai
    username: @env.api.mysql.username@
    password: @env.api.mysql.password@
  # 此变量可在 POM.xml 中配置 properties 属性读取
  data:
    redis:
      host: @env.api.redis.host@
      port: @env.api.redis.port@
      password: @env.api.redis.password@
      database: @env.api.redis.database@