server:
  port: 9999
  forward-headers-strategy: framework

spring:
  config:
    import:
      - optional:cloud.yaml
      - optional:database.yaml
      - optional:logging.yaml
      - optional:file-server.yaml
  application:
    name: all
  profiles:
    active: dev
  # nacos 配置
  cloud:
    nacos:
      # nacos 服务地址
      discovery:
        # 此变量可在 POM.xml 中配置 properties 属性读取
        username: @env.nacos.username@
        password: @env.nacos.password@
        namespace: ${spring.profiles.active}
        server-addr: @env.nacos.server@
  datasource:
    url: jdbc:@env.api.db.type@://@env.api.db.host@:@env.api.db.port@/d_api?currentSchema=public&useUnicode=true&useSSL=false&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=True
    username: @env.api.db.username@
    password: @env.api.db.password@
  # 此变量可在 POM.xml 中配置 properties 属性读取
  data:
    redis:
      host: @env.api.redis.host@
      port: @env.api.redis.port@
      password: @env.api.redis.password@
      database: @env.api.redis.database@

ali:
  bailian:
    api-key: @env.api.ali.bailian.api.key@
  access-key-id: @env.api.ali.access.key.id@
  access-key-secret: @env.api.ali.access.key.secret@

wx:
  mp:
    useRedis: true
    configs:
      # 第一个公众号的 appid
      - appId: @env.api.wechat.mp.app.id@
        # 公众号的 secret
        secret: @env.api.wechat.mp.secret@
        # 接口配置里的 Token 值
        token: @env.api.wechat.mp.token@
        # 接口配置里的 EncodingAESKey 值
        aesKey: @env.api.wechat.mp.aes.key@