server:
  port: 10004
  forward-headers-strategy: framework

spring:
  config:
    import:
      - optional:cloud.yaml
      - optional:database.yaml
      - optional:logging.yaml
  application:
    name: ai
  profiles:
    active: dev
  datasource:
    url: jdbc:@env.api.db.type@://@env.api.db.host@:@env.api.db.port@/d_api?currentSchema=public
    username: @env.api.db.username@
    password: @env.api.db.password@

ali:
  bailian:
    api-key: @env.api.ali.bailian.api.key@
  access-key-id: @env.api.ali.access.key.id@
  access-key-secret: @env.api.ali.access.key.secret@